@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  background-color: whitesmoke; 
  font-family: 'Noto Serif Bengali', serif;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.navMenu {
  @apply flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100  bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white;
}

.navLink {
  @apply block py-2 px-3 text-gray-900  hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#E5A93C] md:p-0;
}

.navLink.active {
  @apply block py-2 px-3 text-stone-950 bg-[#E5A93C]  md:bg-transparent md:text-[#E5A93C] md:p-0;
}
