@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body{
    @apply dark:bg-gray-700;
    font-family: 'Hind', 'Kalpurush', sans-serif;
    scroll-behavior: smooth;
    cursor: context-menu;
}

.navMenu {
  @apply flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700;
}

.navLink {
  @apply block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500;
}

.navLink.active {
  @apply block py-2 px-3 text-white bg-green-700 rounded-sm md:bg-transparent md:text-green-700 md:p-0 md:dark:text-green-500;
}
